table, th, td
{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #bbb;
  width: 70%;
}
th, td
{
  padding: 4px;
  text-align: center;
}
thead#column-head
{
  font-size:110%;
  border-bottom: 2px solid #111111;
  text-transform: capitalize;
}
h2
{
  text-decoration-color: brown;
  font-family: fantasy;
  font-size:120%;
}
h3
{
  font-size: 110%
}
p
{
  text-align: justify;
}
